<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>snail-about</title>
  {{@headerHtml}}
  {{@baidu}}
  <link rel="stylesheet" href="css/public.css">
  <style>
    .nav {
      z-index: 9;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, .9);
    }
    .info {
      margin: 50px auto 0;
      padding: 100px 0;
      max-width: 400px;
      text-align: center;
    }
    .info h1 {
      margin-bottom: 50px;
    }
  </style>
</head>
<body>
  <h2 class="nav"><a href="/">home</a></h2>
  <div class="info">
    <h1>小小的天有大大的梦想</h1>
    <p>邮箱: <a href="mailto:xiangzhao123123@163.com">xiangzhao123123@163.com</a></p>
    <p>github: <a href="https://github.com/snailxz" target="_blank">snailxz</a></p>
  </div>
</body>
</html>