<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>snail</title>
  {{@headerHtml}}
  {{@baidu}}
  <link rel="stylesheet" href="css/public.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <h1 class="title">snail</h1>
  <ul class="nav">
    <li><a href="/notes">文章</a></li>
    <li><a href="/example.html">demo</a></li>
    <li><a href="/games.html">游戏</a></li>
    <li><a href="/about.html">关于</a></li>
  </ul>
  <script src="/js/canvasbg.js"></script>
</body>
</html>